
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.column1 {
  float: left;
  padding: 10px; 
}
.column2 {
    float: left;  
    padding: 10px;
  }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}



